In [645]:
import numpy as np
import pandas as pd

## Series : sozluk gibi dusun excell gibi dusun verileri daha iyi manipule etmek icin kullanilir

In [646]:
listem =[40,50,60]
pd.Series(listem)

0    40
1    50
2    60
dtype: int64

In [647]:
isimListem=["ubey :","cuvu","omer"]

In [648]:
pd.Series(listem,isimListem)
#pd.Series(data,value =listem,index,key =isimListem)

ubey :    40
cuvu      50
omer      60
dtype: int64

##   Series_ozellikleri:

In [649]:
pd.Series([1,2,3],["ubey","buji","cuvu"])

ubey    1
buji    2
cuvu    3
dtype: int64

In [650]:
sonuc1 =pd.Series([40,50,30],["ubey","buji","cuvu"])

In [651]:
sonuc1

ubey    40
buji    50
cuvu    30
dtype: int64

In [652]:
sonuc1["buji"]

50

In [653]:
sonuc2 =pd.Series([400,500,300,900,80],["ubey","buji","cuvu","ahmet","dalal"])

In [654]:
sonuc2

ubey     400
buji     500
cuvu     300
ahmet    900
dalal     80
dtype: int64

In [655]:
sonuc1+sonuc2
#ahmet her ikisinde bulunmadigi icin nan olarak dondurulur
#iki series topladiktan sonra alfabeye gore siralandi

ahmet      NaN
buji     550.0
cuvu     330.0
dalal      NaN
ubey     440.0
dtype: float64

## dataFrame : iki boyutlu bir series gibi dusunebiliriz

In [656]:
matrisim =np.random.randn(5,4)
# randn :normal dagilima uygun rasgele atama

In [657]:
matrisim

array([[-0.29762677,  1.23306331, -0.03489806, -0.73025794],
       [ 0.41832126, -1.55365841,  0.15642686,  1.36096926],
       [-1.11329161, -0.90638601, -0.95899855,  0.73745488],
       [-1.0400685 , -0.71703286, -0.51960402, -0.24428316],
       [ 1.59143634,  0.50325648,  0.96239967, -1.18231168]])

In [658]:
data_frame =pd.DataFrame(matrisim)

#data ,indexRaw ,indexColumon

In [659]:
print(data_frame)

          0         1         2         3
0 -0.297627  1.233063 -0.034898 -0.730258
1  0.418321 -1.553658  0.156427  1.360969
2 -1.113292 -0.906386 -0.958999  0.737455
3 -1.040068 -0.717033 -0.519604 -0.244283
4  1.591436  0.503256  0.962400 -1.182312

In [660]:
data_frame[0]
## burada sutunlar geri donduruluyor

0   -0.297627
1    0.418321
2   -1.113292
3   -1.040068
4    1.591436
Name: 0, dtype: float64

In [661]:
data_frame =pd.DataFrame(matrisim,["ubey","cuvu","buji","nuri","muhbani"],["odev","vize1","vize2","final"])

#data ,indexRaw :record ,indexColumon :attribute | if you think as relational database record ve attribute gibi dusundugum tags values sayisina gore gitmeli yani 20 value varsa demekki 
# 4 satir 5 sutun yada tersi

In [662]:
data_frame

             odev     vize1     vize2     final
ubey    -0.297627  1.233063 -0.034898 -0.730258
cuvu     0.418321 -1.553658  0.156427  1.360969
buji    -1.113292 -0.906386 -0.958999  0.737455
nuri    -1.040068 -0.717033 -0.519604 -0.244283
muhbani  1.591436  0.503256  0.962400 -1.182312

#### column datasi getirmek icin hemen ['key']

In [663]:
data_frame["final"]

ubey      -0.730258
cuvu       1.360969
buji       0.737455
nuri      -0.244283
muhbani   -1.182312
Name: final, dtype: float64

#### row datasi getirmek icin once .loc['key']

In [664]:
data_frame.loc["ubey"]
#sadece bir Raw'a ait bilgiler almak istiyorsak (anahtar'a gore)

odev    -0.297627
vize1    1.233063
vize2   -0.034898
final   -0.730258
Name: ubey, dtype: float64

#### raw datasi index'e gore de getirilebilir

In [665]:
##sadece bir Raw'a ait bilgiler almak istiyorsak (index'e gore)
data_frame.iloc[1]

odev     0.418321
vize1   -1.553658
vize2    0.156427
final    1.360969
Name: cuvu, dtype: float64

## data_frame_indeksleri

In [666]:
data_frame

             odev     vize1     vize2     final
ubey    -0.297627  1.233063 -0.034898 -0.730258
cuvu     0.418321 -1.553658  0.156427  1.360969
buji    -1.113292 -0.906386 -0.958999  0.737455
nuri    -1.040068 -0.717033 -0.519604 -0.244283
muhbani  1.591436  0.503256  0.962400 -1.182312

#### yeni columon eklemek

In [667]:
data_frame["toplam"]=[88,77,60,55,44]

In [668]:
data_frame

             odev     vize1     vize2     final  toplam
ubey    -0.297627  1.233063 -0.034898 -0.730258      88
cuvu     0.418321 -1.553658  0.156427  1.360969      77
buji    -1.113292 -0.906386 -0.958999  0.737455      60
nuri    -1.040068 -0.717033 -0.519604 -0.244283      55
muhbani  1.591436  0.503256  0.962400 -1.182312      44

#### sutun silmek ancak tamamen silinmiyo

In [669]:
data_frame.drop("toplam",axis=1)  ## axis 1 sutun demek

             odev     vize1     vize2     final
ubey    -0.297627  1.233063 -0.034898 -0.730258
cuvu     0.418321 -1.553658  0.156427  1.360969
buji    -1.113292 -0.906386 -0.958999  0.737455
nuri    -1.040068 -0.717033 -0.519604 -0.244283
muhbani  1.591436  0.503256  0.962400 -1.182312

In [670]:
data_frame
#burada tamamen silinmedigini gorebiliriz

             odev     vize1     vize2     final  toplam
ubey    -0.297627  1.233063 -0.034898 -0.730258      88
cuvu     0.418321 -1.553658  0.156427  1.360969      77
buji    -1.113292 -0.906386 -0.958999  0.737455      60
nuri    -1.040068 -0.717033 -0.519604 -0.244283      55
muhbani  1.591436  0.503256  0.962400 -1.182312      44

#### eger columon tamamen silmek istiyorsak inplace true diyecez

In [671]:


data_frame.drop("toplam",axis=1,inplace=True)

In [672]:
data_frame

             odev     vize1     vize2     final
ubey    -0.297627  1.233063 -0.034898 -0.730258
cuvu     0.418321 -1.553658  0.156427  1.360969
buji    -1.113292 -0.906386 -0.958999  0.737455
nuri    -1.040068 -0.717033 -0.519604 -0.244283
muhbani  1.591436  0.503256  0.962400 -1.182312

#### Raw silmek ise axis =0

In [673]:

data_frame.drop("nuri",axis=0)
#burada tamamen sillmedim

             odev     vize1     vize2     final
ubey    -0.297627  1.233063 -0.034898 -0.730258
cuvu     0.418321 -1.553658  0.156427  1.360969
buji    -1.113292 -0.906386 -0.958999  0.737455
muhbani  1.591436  0.503256  0.962400 -1.182312

In [674]:
data_frame>0

          odev  vize1  vize2  final
ubey     False   True  False  False
cuvu      True  False   True   True
buji     False  False  False   True
nuri     False  False  False  False
muhbani   True   True   True  False

In [675]:
data_frame[data_frame>0]

             odev     vize1     vize2     final
ubey          NaN  1.233063       NaN       NaN
cuvu     0.418321       NaN  0.156427  1.360969
buji          NaN       NaN       NaN  0.737455
nuri          NaN       NaN       NaN       NaN
muhbani  1.591436  0.503256  0.962400       NaN

In [676]:
data_frame["toplam"]=[88,77,60,55,44]

In [677]:
data_frame.loc["ubey"]["toplam"]

88.0

In [678]:
data_frame[data_frame["toplam"]>=60]
#filterleme icin  kullanilan bi yontem sarti saglamayan alinmiyor

          odev     vize1     vize2     final  toplam
ubey -0.297627  1.233063 -0.034898 -0.730258      88
cuvu  0.418321 -1.553658  0.156427  1.360969      77
buji -1.113292 -0.906386 -0.958999  0.737455      60

## index_degistirme

In [679]:
data_frame.loc["ubey"]["vize1"]

1.2330633129115907

In [680]:
data_frame.reset_index(inplace=True)
# data_frame.drop("index",axis=1,inplace=True)
data_frame

     index      odev     vize1     vize2     final  toplam
0     ubey -0.297627  1.233063 -0.034898 -0.730258      88
1     cuvu  0.418321 -1.553658  0.156427  1.360969      77
2     buji -1.113292 -0.906386 -0.958999  0.737455      60
3     nuri -1.040068 -0.717033 -0.519604 -0.244283      55
4  muhbani  1.591436  0.503256  0.962400 -1.182312      44

In [681]:
data_frame

     index      odev     vize1     vize2     final  toplam
0     ubey -0.297627  1.233063 -0.034898 -0.730258      88
1     cuvu  0.418321 -1.553658  0.156427  1.360969      77
2     buji -1.113292 -0.906386 -0.958999  0.737455      60
3     nuri -1.040068 -0.717033 -0.519604 -0.244283      55
4  muhbani  1.591436  0.503256  0.962400 -1.182312      44

In [682]:
#simdi eger indexlerin labeli degistirmek istiyorsak 
yeniLabelListesi=["u","c","b","n","m"]

In [683]:
data_frame["yeniLabels"]=yeniLabelListesi  ##yeni sutun olarak ekledik

In [684]:
data_frame

     index      odev     vize1     vize2     final  toplam yeniLabels
0     ubey -0.297627  1.233063 -0.034898 -0.730258      88          u
1     cuvu  0.418321 -1.553658  0.156427  1.360969      77          c
2     buji -1.113292 -0.906386 -0.958999  0.737455      60          b
3     nuri -1.040068 -0.717033 -0.519604 -0.244283      55          n
4  muhbani  1.591436  0.503256  0.962400 -1.182312      44          m

In [685]:
data_frame.set_index("yeniLabels",inplace=True) ## ekledigimiz yeni sutun index olarak belirledik

In [686]:
data_frame

              index      odev     vize1     vize2     final  toplam
yeniLabels
u              ubey -0.297627  1.233063 -0.034898 -0.730258      88
c              cuvu  0.418321 -1.553658  0.156427  1.360969      77
b              buji -1.113292 -0.906386 -0.958999  0.737455      60
n              nuri -1.040068 -0.717033 -0.519604 -0.244283      55
m           muhbani  1.591436  0.503256  0.962400 -1.182312      44

In [687]:
# data_frame.reset_index()

## Multi_index

In [688]:
aileList=["saab","saab","saab","buji","buji","buji"]

In [689]:
isimList=["ubey","udey","urwa","ayham","cuvu","majd"]

In [690]:
birlesmislist = list(zip(aileList,isimList))##

In [691]:
print(birlesmislist)

[('saab', 'ubey'), ('saab', 'udey'), ('saab', 'urwa'), ('buji', 'ayham'), ('buji', 'cuvu'), ('buji', 'majd')]

In [692]:
birlesmisNlist=np.array(birlesmislist)
birlesmisNlist

array([['saab', 'ubey'],
       ['saab', 'udey'],
       ['saab', 'urwa'],
       ['buji', 'ayham'],
       ['buji', 'cuvu'],
       ['buji', 'majd']], dtype='<U5')

mi=pd.MultiIndex.from_arrays(birlesmisNlist)
ile yapmaya calistim olmadigi birlesmislist numpy_array'ina donusturmeme ragmen

In [693]:
mi=pd.MultiIndex.from_tuples(birlesmislist)
mi

MultiIndex([('saab',  'ubey'),
            ('saab',  'udey'),
            ('saab',  'urwa'),
            ('buji', 'ayham'),
            ('buji',  'cuvu'),
            ('buji',  'majd')],
           )

In [694]:
data=[["a",20],["b",16],["o",10],["e",10],["d",10],["c",10]]

In [695]:
dataN=np.array(data)

In [696]:
dataFrame=pd.DataFrame(data,mi,["kanGrubu","yas"])
#values sornra x axis label , sonra y axis'in indexleme lablelleri
dataFrame

           kanGrubu  yas
saab ubey         a   20
     udey         b   16
     urwa         o   10
buji ayham        e   10
     cuvu         d   10
     majd         c   10

dataFrame.loc["saab"]["udey"]# bu yanlis

In [697]:
dataFrame.loc["saab"]  #loc for records mean x axis

     kanGrubu  yas
ubey        a   20
udey        b   16
urwa        o   10

In [698]:

dataFrame.loc["saab"].loc["udey"]  # x axisin icindeki x axis

kanGrubu     b
yas         16
Name: udey, dtype: object

In [699]:
## indix ismi verme 
dataFrame

           kanGrubu  yas
saab ubey         a   20
     udey         b   16
     urwa         o   10
buji ayham        e   10
     cuvu         d   10
     majd         c   10

In [701]:
dataFrame.index.names=["lastName","FirstName"]
dataFrame

                   kanGrubu  yas
lastName FirstName
saab     ubey             a   20
         udey             b   16
         urwa             o   10
buji     ayham            e   10
         cuvu             d   10
         majd             c   10