###  One Hot Encoding

what we wanna do is build a predictor function to predict price of a home 
1. with 3400 sqr ft area in west windsor 
2. 2800 sqr ft home in robbinsville 

when we see this the first Question is arised is **how we can handle the text data ??** because machine learning models good with handling numeric  data 

one way todo this gonna be using integer encoding  or **labelEncoding :** where we convert name of the town to  specific integer number , but the problem with this  approach could be that the model it's gonna try mathematical operations on these integers .

know we know we are dealing with nominal categorical variables  and simple integer Encoding it's not gonna work  hence we gonna use a technique call **One Hot Encoding**

the way One hot Encoding works is : we are create a new column for each of our categories  and assign a binary value of one or zero  , and these extra  variables that we have  created call **Dummy Variables**

#### using pandas

In [12]:
import pandas as pd 

df = pd.read_csv("./data/homeprices.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [13]:
## the first step is create dummy data and concatenate to dataFrame

dummy = pd.get_dummies(df["town"])
newDf = pd.concat([df,dummy],axis="columns")
newDf

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

> we need to drop one of the dummy variables columns , why?  whenever one variable can be derived from a rest of the  variables these variables are said to be multi-core linear  and when ever we have multi-core linearity in our data  it creates a problem of **dummy variables trap** which can mess up or ML model so to avoid this we need to drop one of the dummy variables  columns

In [14]:
##  and we need to drop the original town column  because now we have dummy variables 

final = newDf.drop(["town","robinsville"], axis=1)
final

    area   price  monroe township  west windsor
0   2600  550000                1             0
1   3000  565000                1             0
2   3200  610000                1             0
3   3600  680000                1             0
4   4000  725000                1             0
5   2600  585000                0             1
6   2800  615000                0             1
7   3300  650000                0             1
8   3600  710000                0             1
9   2600  575000                0             0
10  2900  600000                0             0
11  3100  620000                0             0
12  3600  695000                0             0

remember that when you're using sklearn linear regression model  it will work even if you don't  drop  columns because linear regression model is aware about dummy variable trap and it will drop it automatically but in general it's a **Good Practice** that you drop it on your own

In [15]:
from sklearn.linear_model import LinearRegression

x = final.drop(["price"],axis=1)
y = final.price

print(type(x))
print(type(y))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [16]:
#  create model and do training 

model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [17]:
# 1. with 3400 sqr ft area in west windsor 
# 2. 2800 sqr ft home in robbinsville 

print(model.predict([[3400,0,1]]))
print(model.predict([[2800,0,0]]))

[681241.66845839]
[590775.6396474]

> if we wanna know how accurate our model is we can use model.score and it's gonna calculate the predictive values  for all the rows of x and it will compare the predictive values with  actual values which is Y , then by using some formulas it calculate the score

In [18]:
model.score(x,y)

0.9573929037221873

#### [using sklearn  One hot Encoder](https://www.roelpeters.be/solve-shape-mismatch-if-categories-is-an-array-it-has-to-be-of-shape-onehotencoder/)

in order to use one hot encoder we need to do labelEncoding  on the town column

In [19]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
leDf = df 

print(df)


leDf.town = le.fit_transform(leDf.town)# fit_transform means it takes  the label column as input  and will return the labels 


leDf

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [20]:
x = leDf[["town","area"]]  # x should be multiDimensional 
print(x.shape)
y = leDf.price
print(y)

(13, 2)
0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [21]:
from sklearn.preprocessing import OneHotEncoder
# #! Important note 
# ## Apparently, the categories argument isn’t used to tell
# #  OneHotEncoder which columns are categorical values.
# #  It is to explicitly declare which values should be
# #  encoded as a category.
# ohe = OneHotEncoder(categories=[[0]])

# x=ohe.fit_transform(x).toarray()## we need to refere to categorical variables inside object creating above
# x 
#* this line gives an error but i want it to stay here to know differences

In [22]:
from sklearn.compose import ColumnTransformer
#! You need to use ColumnTransformer to specify the column index not categories parameter.

columnTransformer = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(), [0])],   # The column numbers to be transformed (here is [0] but can be [0, 1, 3])
    remainder='passthrough'  # Leave the rest of the columns untouched
)
x = columnTransformer.fit_transform(x)
x

array([[1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.2e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.9e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.1e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03]])

In [23]:

#! now we need to drop one of the columns to avoid dummy variables trap 
x = x[:,1:] ## this line mean take all the rows , the column from 1 so we dropped the 0 index 
x

array([[0.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 3.0e+03],
       [0.0e+00, 0.0e+00, 3.2e+03],
       [0.0e+00, 0.0e+00, 3.6e+03],
       [0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 1.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 2.9e+03],
       [1.0e+00, 0.0e+00, 3.1e+03],
       [1.0e+00, 0.0e+00, 3.6e+03]])

In [24]:
# train model 
model.fit(x,y)

LinearRegression()

In [25]:
print(df)
# monro , west , rospenvil

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [26]:
model.predict([[1,0,2800]])

array([590775.63964739])

In [27]:
model.predict([[0,1,3400]])
#  so it give us the same prediction as before

array([681241.6684584])

<b style="color: red;"> Note <b/> : before doing anything , first be sure to plot your data  on scatter plot chart  and see if you really can using linear regression model  because choosing the correct model is very important